<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tipo.witter.mapper.TagMapper">
    <insert id="addTag" useGeneratedKeys="true" keyProperty="id" parameterType="TagIn">
        INSERT INTO Intern_test.blank_tl2p.tag
        (name) VALUES (#{name})
    </insert>
    <insert id="addMap" parameterType="java.util.List">
        INSERT INTO Intern_test.blank_tl2p.tag_map
        (href, tag_id, type) VALUES
        <foreach collection="list" item="item" separator="," index="index">
            (
            #{item.href},#{item.tagId},#{item.type}
            )
        </foreach>
    </insert>
    <select id="findTagByName" resultType="java.lang.Integer">
        SELECT id
        FROM Intern_test.blank_tl2p.tag
        WHERE name=#{VALUE }
    </select>
    <select id="findTagCount" resultType="TagCount">
        SELECT t.id,t.name,COUNT(t.name)AS tagCount
        FROM Intern_test.blank_tl2p.tag AS t ,Intern_test.blank_tl2p.tag_map AS tm
        WHERE tm.type=#{type} AND t.id=tm.tag_id
        GROUP BY t.name,t.id
        ORDER BY COUNT (t.name) DESC
    </select>
    <select id="findTagByHref" resultType="java.lang.String">
        SELECT t.name
        FROM Intern_test.blank_tl2p.tag_map AS tm ,Intern_test.blank_tl2p.tag AS t
        WHERE tm.href=#{VALUE } AND tm.tag_id=t.id
    </select>
</mapper>