<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tipo.witter.mapper.TweetMapper">
    <resultMap id="tweetMap" type="com.tipo.witter.pojo.TweetResult">
        <result column="tweet_id" jdbcType="INTEGER" property="tweetId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="text" jdbcType="VARCHAR" property="text"/>
        <result column="power" jdbcType="INTEGER" property="power"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <insert id="addTweet" useGeneratedKeys="true" keyProperty="id" parameterType="com.tipo.witter.pojo.TweetIn" >
        INSERT INTO witter.Tweet (user_id, text,create_time)
        VALUES (#{userId},#{text},NOW())
    </insert>
    <select id="findTweetList" resultMap="tweetMap">
        SELECT  tweet_id,user_id,text,power,create_time
        FROM witter.Tweet
        WHERE create_time &lt;= #{createTime} AND status=0
        ORDER BY create_time DESC
        LIMIT ${TOP}
    </select>
    <!--<select id="findTweetById" resultType="">-->
        <!--SELECT text-->
        <!--FROM witter.Tweet-->
        <!--WHERE-->
    <!--</select>-->
    <update id="deleteTweet" >
        UPDATE witter.Tweet
        SET
        status=1
        WHERE tweet_id=#{VALUE}
    </update>

    <select id="findTweetByTag" resultMap="tweetMap">
        SELECT tw.tweet_id,tw.user_id,tw.text,tw.power,tw.create_time
        FROM witter.tag_map AS tm ,witter.tweet AS tw
        WHERE tm.tag_id=#{tag} AND tw.tweet_id=tm.href AND tw.status=0 AND tw.create_time &lt;= #{createTime}
        ORDER BY tw.create_time DESC
        LIMIT ${TOP}
    </select>
    <update id="addPower">
        UPDATE witter.tweet
        SET
        power=#{power}
        WHERE tweet_id=#{id}
    </update>
</mapper>
